<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <!-- Permiso duplicado que podrías eliminar -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.EduMeet"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31">

        <!-- Agrega esta metadata para AdMob -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5724620181079597~4763075779"/>

        <!-- Actividad principal (LogInSupa) -->
        <activity
            android:name=".supabase.LogInSupa"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.EduMeet.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad de registro -->
        <activity
            android:name=".supabase.RegisterActivity"
            android:exported="true"
            android:label="Register Activity"/>

        <!-- MainActivity no se usa como lanzador, pero sigue aquí si la necesitas -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.EduMeet.NoActionBar"/>

    </application>
</manifest>